# Application Configuration
NODE_ENV=development
PORT=3000

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/nestjs

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# For Production with MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/nestjs?retryWrites=true&w=majority

# For Production with Redis Cloud:
# REDIS_HOST=your-redis-host.com
# REDIS_PORT=12345